@using Microsoft.AspNetCore.Identity
@using ProcessorInfo.Models
@model IEnumerable<Processor>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager
@section head {
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" 
  crossorigin="anonymous"></script>
}
@{
    bool isAdmin = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
        }
    }
}

<h2>Processor List</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div style="position: relative; overflow: hidden; padding-top: 75%;">
                    <img src="@item.PhotoUrl" class="card-img-top img-fluid" alt="Processor Image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <div class="mb-2">
                        <h6 class="card-title">Performance Cores:</h6>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @(item.PerformanceCores * 100 / 20)%;"
                             aria-valuenow="@item.PerformanceCores" aria-valuemin="0" aria-valuemax="20">
                                @item.PerformanceCores
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <h6 class="card-title">Efficiency Cores:</h6>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @(item.EfficencyCores * 100 / 20)%;"
                             aria-valuenow="@item.EfficencyCores" aria-valuemin="0" aria-valuemax="20">
                                @item.EfficencyCores
                            </div>
                        </div>
                    </div>
                    <div class="m-0" style="display:none;">
                            <div>
                                <p>@item.TotalThreads</p>
                            </div>
                            <div>
                                <p>@item.MaxTurboFrequency</p>
                            </div>
                            <div>
                                <p>@item.Cache</p>
                            </div>
                            <div>
                                <p>@item.IntegratedGraphics</p>
                            </div>
                            <div>
                                <p>@item.Chipset</p>
                            </div>
                    </div>
                    @if (isAdmin)
                    {
                        <a asp-action="UpdateProcessor" asp-route-id="@item.ProcessorId" class="btn btn-primary">Update</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div class="modal fade" id="processorModal" tabindex="-1" role="dialog" aria-labelledby="processorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="processorModalLabel">Processor Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td id="modalProcessorName"></td>
                        </tr>
                        <tr>
                            <th>Performance Cores</th>
                            <td id="modalPerformanceCores"></td>
                        </tr>
                        <tr>
                            <th>Efficiency Cores</th>
                            <td id="modalEfficiencyCores"></td>
                        </tr>
                        <tr>
                            <th>Processor Total Threads</th>
                            <td id="modalTotalThreads"></td>
                        </tr>
                        <tr>
                            <th>Max Turbo Frequency</th>
                            <td id="modalMaxTurboFrequency"></td>
                        </tr>
                        <tr>
                            <th>Processor Cache</th>
                            <td id="modalCache"></td>
                        </tr>
                        <tr>
                            <th>Integrated Graphics</th>
                            <td id="modalIntegratedGraphics"></td>
                        </tr>
                        <tr>
                            <th>Chipset</th>
                            <td id="modalChipset"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalPhoto" class="img-fluid" alt="Processor Image">
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
